.header__lang-link {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: right;
}

@media screen and (max-width: 390px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}