  .cover__link {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 1184px;
    height: 740px;
  }
  
  @media screen and (max-width: 1024px) {
    .cover__link {
      height: 640px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover__link {
      height: 480px;
      /* max-width: 768px; */
    }
  }
  
  
  