.photo-grid {
  margin: 92px 48px 92px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    max-height: 942px;
    margin: 92px 48px 92px;
    gap: 14px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 88px 24px 88px;
    max-width: 720px;
    max-height: 1664px;
    gap: 16px;
  }
}

@media screen and (max-width: 390px) {
  .photo-grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin: 64px 16px 52px;  
    max-width: 340px;
    max-height: none;  
    gap: 12px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
  }
}