.photo-grid {
  margin: 0;
  margin: 92px auto 92px;
  display: grid;
  max-width: 1184px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 1179px;
    gap: 14px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 923px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px 24px 88px;
    gap: 16px;
    max-width: 720px;
  }
}

@media screen and (max-width: 390px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 64px 16px 52px;
    gap: 12px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
  }
}