.photo-grid {
  min-height: calc(100vh - 96px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
  grid-auto-flow: column;
  gap: 14px 14px;
  margin: auto;
  padding: 64px 16px 0;
}