.places {
  display: grid;
  max-width: 984px;
  margin: 0 auto;
  gap: 80px;
}

@media screen and (max-width:1024px) {
  .places {
    max-width: 90.628%;
  }
}

@media screen and (max-width:768px) {
  .places {
    max-width: 720px;
    max-height: 2808px;
    gap: 73px;
    margin: 88px auto 92px;
  }
}

@media screen and (max-width:320px) {
  .places {
    width: 100%;
    gap: 32px;
    margin: 0;
  }
}