.lead {
  color: #fff;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}