.photo-grid__item {
  max-width: 100%;
}

@media screen and (max-width: 1031px) {
  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__item {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    max-width: 288px;
    max-height: 216px;
  }
}