.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
  font-size: 18px;
  margin: 28px 0 56px;
}

@media screen and (max-width:1280px) {
  .header {
    width: 92.5%;
  }
}

@media screen and (max-width:1024px) {
  .header {
    width: 90.625%;
    margin: 28px 0 48px;
  }
}

@media screen and (max-width:768px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width:320px) {
  .header {
    max-width: 288px;
    max-height: 42px;
    margin: 16px auto 48px;
  }
}