.place__paragraph {
  margin: 0 0 27px 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  }
  
  .place__paragraph:nth-last-of-type(1) {
    margin-bottom: 0;
  }

@media screen and (max-width: 1024px) {
  .place__paragraph {
    line-height: 1.63;
    padding: 0;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    grid-column: 1;
  }
}

@media screen and (max-width: 390px) {
  .place__paragraph {
    max-width: 288px;
    padding-left: 16px;
  }
}