.cover {
  position: relative;
  margin: 92px auto 0;
  padding-bottom: 0;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 0;
    max-width: 768px;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    margin: 0;
  }
}

@media screen and (max-width: 390px) {
  .cover {
    margin: 64px auto 0;
  }
}
