.place__link {
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity .55s ease;
  text-decoration: underline;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width:768px) {
  .place__link {
    width: 45.83%;
  }
}

@media screen and (max-width:320px) {
  .place__link {
    width: 288px;
    margin-left: 16px;
  }
}