.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover__background:hover .cover__overlay {
  transition: ease-in .5s;
  opacity: .8;
}