.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  display: flex;
  text-align: center;
  align-self: center;
  color: #fff;
  margin: 0;
  position: absolute;
  left: calc((100% - 560px)/2);
  top: calc((100% - 250px)/2);
}
