.lead__container {
  margin: 64px auto 8px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead__container {
    max-width: 928px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__container {
    max-width: 768px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 390px) {
  .lead__container {
    max-width: 390px;
  }
}

@media screen and (max-width: 325px) {
  .lead__container {
    max-width: 325px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 270px) {
  .lead__container {
    max-width: 270px;
  }
}