.footer {
  margin: 0 auto 24px;
  padding-bottom: 24px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media screen and (max-width:768px) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (max-width:760px) {
  .footer {
    flex-direction: column;
    gap: 48px;
  }
}

@media screen and (max-width:320px) {
  .footer {
    margin: 0 0 24px;
    padding-left: 16px;
    width: 186px;
    height: 310px;
  }
}