.footer {
  margin: 0 auto 24px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    margin: 88px 16px 24px;
    max-width: 186px;
    flex-direction: column;
    row-gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 16px 24px;
  }
}